apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-pod-config
  namespace: default
data:
{# Pass environment variables to postgres pods here #}
  SPILO_PROVIDER: "{{ postgres_spilo_provider }}"
