*.retry
*.log
*.tags*

.vagrant
*_variables.yml

ansible/custom/

ansible/inventories/*
!ansible/inventories/*.example

!ansible/inventories/group_vars/
ansible/inventories/group_vars/*
!ansible/inventories/group_vars/all.yml
!ansible/inventories/group_vars/*.example

ansible/playbooks/test/
ansible/**/custom/**/*
!ansible/**/custom/**/
!ansible/**/custom/**/*.example
ansible/playbooks/**/*.j2

ansible/roles/test/

docs/_*/

vagrant/*.tar
