---
# Project name
project: djangoexample
# Deployment environment (prod, dev, staging/stg, test, play ...)
deployment_env: play

# An entry "project_access_ip deployment_env.project" will be added to
# local node /etc/hosts, this will allow you to access your project using
# http://deployment_env.project
# You can put the ip of any node participating in the k8s cluster
project_access_ip: "127.0.0.1"

# OPTIONAL

# set to 'django' for a plain django project, 'wagtail' for a wagtail project
# defaults to 'django' if not specified.
project_type: django

# https://www.djangoproject.com/download/
# https://github.com/django/django/releases
django_version: "2.2.5"

# https://github.com/wagtail/wagtail/releases
wagtail_version: "2.6.1"

# Note: project python version should match uwsgi python version
# https://docs.djangoproject.com/en/2.2/releases/2.2/#python-compatibility
project_python_version: "3.7"

# extra python packages to install in project virtual env
extra_python_packages: ""

# superuser credentials
admin_username: admin
admin_email: admin@example.com
admin_password: "chAnge_mE"

# for production projects:
configure_for_production: "false"
domain: example.com
# email to use when generating tls certificate
tls_email: admin@example.com
