apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aya-apps
  labels:
    app: aya-python
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ apps_vol_size }}
