[local_nodes]
local_node

[local_nodes:vars]
ansible_connection=local
cluster_network_interface=lo

[vagrant_host_nodes]
local_node

[docker_nodes]
local_node

[microk8s_nodes]
local_node

[k8s_master_nodes]
local_node

[k8s_worker_nodes]
local_node

[k8s_cluster_nodes:children]
k8s_master_nodes
k8s_worker_nodes

[haproxy_ingress_controller_pods_nodes]
local_node

[postgres_pods_nodes]
local_node

[uwsgi_nginx_pods_nodes]
local_node

[ayaapp_operator_pods_nodes]
local_node

[common_vars_nodes]
local_node
